 *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
 }
.club-logo {font-size: 36px;
margin: 5px;}

  .wrap {
    background-color:  #a28f70;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-family: 'Cairo Play', cursive;
    
 }

 .main-menu ul {
    display: flex;
    
 }
  
 .main-menu li a {
    padding: 20px; 
    display: block;
    color: #fff;
    font-size: 18px;

 }
 .main-menu li a:hover {
   text-decoration: underline;
 }
 .active
 {font-weight: bolder;}
 
 .hamburger {
    display: none;
 }
 
 .hamburger-menu {
   top: 17px;
    right: 18px;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
height: 25px;
cursor: pointer;
 
 }

 .hamburger-menu .element {
    width: 100%;
    height: 4px; 
    background-color: #fff;
    border-radius: 10px;
 }

.hero-image {
   position: relative;
   overflow: hidden; 
height:600px;
background: url("/images/fossil2.jpg") no-repeat center;
background-size: cover;
}
.hero-content {
   text-align: center;
   position:absolute; 
   top: 55%;
   right: 60%;
}

.hero-button {
color: #fff;
background-color: #d3bd9a;
border-radius: 4px;
padding: 16px 30px;
display: inline-block;
text-align: center;
font-size: 17px;
font-family: 'Titillium Web', sans-serif;
cursor:pointer;

}
.hero-button:hover {
   color:  #d3bd9a; 
   background-color: #fff;
}
 
 @media (max-width: 800px) {

  .hamburger-menu {
        display: flex;
    }
    .main-menu {
        width: 100%;
        display: none;

    }
    .main-menu ul {
        width: 100%;
        flex-direction: column; 
    }
    .main-menu ul li {
        text-align: center;
    }
#hamburger:checked ~ .main-menu{
   display: flex;

 }
 .club-logo {
   font-size: 30px;
   margin: 0;
 }
 }